*{margin: 6px;padding: 0px;}
.style{
    width: 100%;
    height: 100px;
    background-color: seagreen;
 
}
.style ul{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.style ul li{
    list-style: none;
    text-transform: uppercase;
    color: white;
}